body {
  background: url(clouds.jpg) no-repeat;
  background-size: 100%;
}
#txtid{height:40px;width:300px} 
#inf{position:absolute; top: 100px; left: 200px; width: 500px; color: red;}
#loadin{position:absolute; top:250px; left:300px}
button{
font-size: 24px;
background-image:-webkit-linear-gradient(top,#ffffff 0%,#3e9ad2 100%);
background-image:-moz-linear-gradient(top,#ffffff 0%,#3e9ad2 100%);
background-image:-o-linear-gradient(top,#ffffff 0%,#3e9ad2 100%);
background-image:-ms-linear-gradient(top,#ffffff 0%,#3e9ad2 100%);
background-image:linear-gradient(top,#ffffff 0%,#3e9ad2 100%);}
#j {
   list-style: square;
   margin: 306px 0px;
   
   background-color: rgba(248, 248, 248, 0.5); 
  padding: 10px 15px 10px 15px ;
   width:auto;
   -webkit-border-radius:50px;
   border-radius: 50px;
   padding-left:20px;
   margin-bottom:100px;
  
}